


<section id = "0" class = "window">
	<h1>2Weeks</h1>
	<p class="lead">This is 2Weeks. An application that cleans your Pocket, Instapaper or Readability accounts every two weeks, and saves the articles you added that week. </p>

	
</section>