<div class="text-center">
	<h1>Cleanist</h1>
	<p class="lead">An application that cleans your reading list every two weeks, giving you less clutter and peace in mind. </p>
	
	<form class="pocket">
		<button class="btn btn-pocket"><i class="icon-chevron-down"></i> Pocket</button>
	</form>
	
	<form class="instapaper">
		<button class="btn btn-instapaper"> <span class="i-instapaper"><b>I</b></span> Instapaper</button>
	</form>
	
	<form class="readability">
		<button class="btn btn-readability"><img class="i-readability" src="/assets/readability.png"></img> Readability</button>
	</form>
</div>

<div class="text-center">
</div>