<section class="window">
	<div class="text-center">
		<h1>Cleanist</h1>
		
		<p class="lead">An application that cleans your reading list every 2 weeks, giving you less clutter and peace in mind. </p>
		
			<div class="services">
				<form class="pocket">
					<button class="btn btn-large btn-pocket"><i class="icon-chevron-down"></i> Pocket</button>
				</form>
				
				<form class="instapaper">
					<button class="btn btn-instapaper"> <span class="i-instapaper"><b>I</b></span> Instapaper</button>
				</form>
				
				<form class="readability">
					<button class="btn btn-readability"><img class="i-readability" src="/assets/readability.png"></img>Readability</button>
				</form>
			</div>
	</div>
</section>

<div class="text-center">
</div>