body {
	background-color: #e0effe;
}

h1 {
	font-size: 72px;
	margin-bottom: 2%;
	color: #f74a4a;
}

.text-center {
	margin-top: 3%;
}

p {
	padding: 0 10%;
}

.i-instapaper {
	font-family: Times New Roman;
}

.i-readability {
	width: auto;
	height: 14px;
}

/* Pocket button color */
.btn-pocket {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #d1102a;
	*background-color: #d1102a;
	background-image: -moz-linear-gradient(top, #F03E56, #d1102a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F03E56), to(#d1102a));
	background-image: -webkit-linear-gradient(top, #F03E56, #d1102a);
	background-image: -o-linear-gradient(top, #F03E56, #d1102a);
	background-image: linear-gradient(to bottom, #F03E56, #d1102a);
	background-repeat: repeat-x;
	border-color: #d1102a;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F03E56', endColorstr='#d1102a', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-pocket:hover,
.btn-pocket:active,
.btn-pocket.active,
.btn-pocket.disabled,
.btn-pocket[disabled] {
	color: #FFFFFF;
	background-color: #d1102a;
	*background-color: #003bb3;
}
/* Readability button color */

/*.btn-readability {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #700000;
	*background-color: #700000;
	background-image: -moz-linear-gradient(top, #940404, #700000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#940404), to(#700000));
	background-image: -webkit-linear-gradient(top, #940404, #700000);
	background-image: -o-linear-gradient(top, #940404, #700000);
	background-image: linear-gradient(to bottom, #940404, #700000);
	background-repeat: repeat-x;
	border-color: #700000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#940404', endColorstr='#700000', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-readability:hover,
.btn-readability:active,
.btn-readability.active,
.btn-readability.disabled,
.btn-readability[disabled] {
	color: #FFFFFF;
	background-color: #700000;
	*background-color: #003bb3;
}*/